
.WhoAmI{
font-size: 40px;
text-align:center;
color:white;
}

.Hi{
font-size:120px;
text-align:center;
color:white;
}
.AboutMe {
	
}

p:hover {
	color: #C62368;
}

#MinecraftSkin {
	
	-webkit-filter: drop-shadow(5px 5px 5px #C62368);
	filter: drop-shadow(5px 5px 5px #C62368);
}

.custom-shape-divider-bottom-1651503185 {
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1651503185 svg {
	width: calc(110% + 1.3px);
	height: 191px;
}

.custom-shape-divider-bottom-1651503185 .shape-fill {
	fill: #9013FE;
}